@using e_commerce_website.Models;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor IHttpContextAccessor;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_commerce_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--
    <link rel="stylesheet" href="~/e_commerce_website.styles.css" asp-append-version="true" />
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
   
</head>
<body>
    <header>
        <div class="container">
            <br/>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-body box-shadow mb-3" data-bs-theme="dark">
                <div class="container-fluid">

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/image/logo.png" class="img-fluid" width="80" height="auto" />
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                              
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>

                            </li>

                            @if (User.IsInRole(Other.Role_Admin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin Panel</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders</a></li>
                                    </ul>
                                </li>
                            }else if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders</a>
                            }

                        </ul>
                   <div>
                            @if (User.Identity.IsAuthenticated && HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShoppingCart) != null)
                            {
                                <div style="color:white">
                                    <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
                                        @{
                                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShoppingCart);
                                        }
                                        <i class="bi bi-cart2"></i> (@count)
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div style="color:white">
                                    <a href="/Identity/Account/Login" class="nav-link text-white">
                                        @{
                                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShoppingCart);
                                        }
                                        <i class="bi bi-cart2"></i> (0)
                                    </a>
                                </div>
                            }
                        </div>
   
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
    </header>

     
      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - e_commerce_website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
      @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
