@model IEnumerable<e_commerce_website.Models.OrderHeader>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">Pending Orders</button>
    <button type="button" class="btn btn-outline-primary">Confirmed Orders</button>
    <button type="button" class="btn btn-outline-primary">Shipped Orders</button>
</div>

