@model IEnumerable<e_commerce_website.Models.Category>

<div class="col-md-3">

    <div class="card">
        <div class="list-group">
            <a ASP-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(ViewBag.CategoryId == null? "active":"")" aria-current="true">
                ALL PRODUCTS
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
        </div>
    </div>
</div>