
@{
    ViewData["Title"] = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Completed Successfully</h1>
<h3>Thank you for shopping with us! Your order has been successfully processed and will be shipped shortly.</h3>
